.navbar {
    background-color: #3b426b; /* Черный фон всей навигационной панели */
    color: white;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: white; /* Белый цвет логотипа */
    transition: color 0.3s ease;
}

.nav-item {
    font-size: 18px;
    font-weight: 600;
}

    .nav-item .nav-link-custom {
        color: white; /* Белый цвет ссылок */
        /*transition: background-color 0.3s ease, color 0.3s ease;*/
        border-radius: 20px;
        padding: 0.5rem 1rem;
        display: flex;
        align-items: center;
        line-height: normal;
        text-align: center;
        text-decoration: none;
    }

        .nav-item .nav-link-custom:hover, .nav-item .nav-link-custom:focus {
            color: #c86c51;
            /*color: #f97316;*/ /* Оранжевый текст при наведении */
        }

.logout-button {
    background: none;
    border: none;
    color: white; /* Белый цвет кнопки выхода */
    padding: 0;
    transition: color 0.3s ease; /* Добавим плавность изменения цвета */
}

    .logout-button:hover {
        color: #000; /* Черный текст при наведении */
        background-color: #ffa500; /* Оранжевый фон при наведении */
    }