@page "/"

@inject IHttpContextAccessor HttpContextAccessor

@* <PageTitle>Home</PageTitle>

<h1>Hello!</h1>

Welcome

<button @onclick="ButtonClick">Click me!</button>
@if (buttonClicked)
{
    <p>The button was clicked!</p>
}

@code {
    private bool buttonClicked = false;

    private void ButtonClick()
    {
        buttonClicked = true;
    }
} *@

@using Microsoft.AspNetCore.Authorization
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using LangPrac.Data
@using LangPrac.Components.Account

@using Microsoft.AspNetCore.Components;

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @username <br />
    Your phone number is @phoneNumber
</AuthorizeView>

@code {
    private ApplicationUser user = default!;
    private string? username;
    private string? phoneNumber;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;


    protected override async Task OnInitializedAsync()
    {
        if (HttpContext == null)
        {
            HttpContext = HttpContextAccessor.HttpContext;
        }
        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
        username = await UserManager.GetUserNameAsync(user);
        phoneNumber = await UserManager.GetPhoneNumberAsync(user);
    }
}
